.div {
    width: 45%;
    border-radius: 2rem;
    overflow: hidden;
    background: lavender;
    margin: auto;
}

.inputContainer {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.input {
    margin: auto;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    background: rgb(156, 156, 172);
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.button {
    font-size: 1.5rem;
    display: flex;
    margin: 1rem auto;
    height: auto;
    background: skyblue;
    border-radius: 1rem;
    padding: .5rem;
}